---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About Maude';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>Un peu about me</h1>
    <p>
      I'm a Senior Staff Engineer at <a href="https://slack.com/careers">Slack</a> where I founded and lead the backend performance infrastructure team.
    </p>
    <p>
      I'm responsible for <b>large-scale load test tooling, performance regression monitoring,</b> and <b>successfully onboarding the world's largest companies to Slack.</b> Over the last {new Date().getFullYear() - 2016} years, I've helped the product scale from just 60,000 users per team to over 2 million. 
    </p>
    <p>
      When I don't have my nose in a flamegraph, you can find me building strong, empathetic engineering cultures.
    </p>
    <p>
      In October 2020, I published <i>Refactoring at Scale</i> with O'Reilly Media, a blueprint for how technical leaders can successfully navigate large, complex refactors.
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
