---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Writing';
const description = 'Writing';
const permalink = `${Astro.site.href}writing`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="writing">
  <div class="container">
    <h1>Get in touch</h1>
    <p>
      📫 Email me at <code>maude.codes [at] gmail.com</code><br/>
      Find me on <a href="https://www.linkedin.com/in/lemairemaude/">LinkedIn</a>
    </p>
  </div>
</BaseLayout>

<style>
  .social {
    width: 20px;
    margin: 0 5px 0 0;
  }
</style>